h1 {
    font-family: "Montserrat", sans-serif;
    padding: 20px;
}
body {
    font-family: "Montserrat", sans-serif;
}

img {
    margin-bottom: -7px
}

.w3-row-padding img {
    margin-bottom: 12px
}

p {
    font-family: "Montserrat", sans-serif;
    margin-bottom: 40px;
}